/* src/components/PresetDetails/PresetDetails.css */

/* --------------------------------------------------
   SHARED FIELD WRAPPER
-------------------------------------------------- */
.field-wrapper {
  width: 100%;
  position: relative;
  margin-top: 24px !important;
}

/* Floating Label */
.field-wrapper::before {
  position: absolute;
  left: 0;
  top: 0;
  background: #121212;
  padding: 0 4px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  transform-origin: top left;
  transform: translate(11px, -9px) scale(0.75);
  pointer-events: none;
  z-index: 3;
}

/* Placeholder */
.field-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 14px;
  font-size: 16px;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  line-height: 2.2;
  color: #475569;
  font-style: italic;
  z-index: 1;
}

.field-editable {
  position: relative;
  z-index: 2;
  background: transparent; 
}

/* Labels */
.name-field-wrapper::before { content: "Name"; }
.name-field-placeholder { color: #777; }
.notes-field-wrapper::before { content: "Notes"; }
.notes-field-placeholder { color: #999; }